@import "../../assets/scss/main";

.login {
  margin-top: 40px;

  &-title {
    font-size: 1.5rem;
    font-family: $poppinsMedium;
  }

  .form {
    &-label {
      font-size: $bodySize;
      font-family: $poppinsMedium;
    }

    &-control {
      box-shadow: 0;
      height: 42px;
      font-size: $bodySize;
      font-family: $poppinsRegular;

      &:focus {
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
      }
    }

    .btn-submit {
      height: 42px;
      background-color: $primaryColor;
      color: $whiteColor;
      font-size: $btnSmallSize;
      font-family: $poppinsMedium;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(6, 80, 139, 0.25);
      }
    }

    &-link {
      font-size: $smallSize;

      .link {
        color: $primaryColor;
      }
    }
  }
}
